<div class=" bg-light p1">
    <div class="content content1">
<h3>{{ titulo }}</h3>
<h5>{{ banda }}</h5>
<!-- Colocar um sinal de " + " em cada nota para aumentar meio tom quando acionado no tom-->

<!-- =========== TOM =====================-->
<strong class="mr-2"> Tom : </strong> <button class="btn btn-outline-secondary dropdown-toggle" 
type="button" data-toggle="dropdown" aria-haspopup="true" 
aria-expanded="false"> {{ original }} </button>

<div class="dropdown-menu">
  <a class="dropdown-item" (click)="trocaCifra('C')">C - (Am)</a> <a class="dropdown-item" (click)="trocaCifra('C#')">C# </a>
  <a class="dropdown-item" (click)="trocaCifra('D')">D - (Bm)</a> <a class="dropdown-item" (click)="trocaCifra('D#')">Eb </a>
  <a class="dropdown-item" (click)="trocaCifra('E')">E - (C#m)</a> 
  <a class="dropdown-item" (click)="trocaCifra('F')">F - (Dm)</a> <a class="dropdown-item" (click)="trocaCifra('F#')">F# </a>
  <a class="dropdown-item" (click)="trocaCifra('G')">G - (Em)</a> <a class="dropdown-item" (click)="trocaCifra('G#')">Ab </a>
  <a class="dropdown-item" (click)="trocaCifra('A')">A - (F#m)</a> <a class="dropdown-item" (click)="trocaCifra('A#')">Bb</a>
  <a class="dropdown-item" (click)="trocaCifra('B')">B - (G#m)</a>
</div>
</div><br>
<!-- =========== Música ====================-->

   <div class="text-left" >
    <p class="divmaster" [innerHTML]="musicaAlterada"></p>
   </div>