<div class=" bg-light text-center p1">
    <div class="content content1">
<h3 class="text-muted">Tu És Soberano</h3>
<h5>Asaph Borba</h5>
<h6 class="mb-2">Tom: G</h6>
</div>
<pre><b>G</b>        <b>D/F#</b>           <b>Em</b>
    Tu és, soberano sobre a terra
             <b>D</b>             <b>C9</b>
    Sobre o céus tu és Senhor
    <b>D</b>    <b>G</b>     <b>D</b>
    Absoluto
    
    <b>G</b>           <b>D/F#</b>      <b>Em</b>
    Tudo, que existe acontece
         <b>D</b>            <b>C9</b>
    Tu, sabes muito bem
    <b>D</b>          <b>G</b>
    Tu, és tremendo
    
         <b>Am</b>  <b>C</b>         <b>G</b>
    Mas, ape-sar dessa glória que tem
    <b>Am</b>        <b>Bm</b>  <b>C</b>     <b>G</b>          <b>D/F#</b>
    Tu, te impor-tas comigo também
    
       <b>Em7</b>            <b>Bm7</b>
    E, esse amor tão grande
      <b>C</b>         <b>C#°</b>       <b>D</b>
    Eleva-me amarra-me a ti
    
    <b>C/D</b>        <b>D</b>   <b>G</b>
    Tu és, tremen-do</pre>
</div>