<div class=" bg-light p1">
    <div class="content content1">
<h3>{{ titulo }}</h3>
<h5>{{ banda }}</h5>
<!-- Colocar um sinal de " + " em cada nota para aumentar meio tom quando acionado no tom-->

<!-- =========== TOM =====================-->
<strong class="mr-2"> Tom : </strong> <button class="btn btn-outline-secondary dropdown-toggle" 
type="button" data-toggle="dropdown" aria-haspopup="true" 
aria-expanded="false"> {{ original }} </button>

<div class="dropdown-menu">
  <a class="dropdown-item" (click)="trocaCifra('C')">C</a> <a class="dropdown-item" (click)="trocaCifra('C#')">C# </a>
  <a class="dropdown-item" (click)="trocaCifra('D')">D</a> <a class="dropdown-item" (click)="trocaCifra('D#')">Eb </a>
  <a class="dropdown-item" (click)="trocaCifra('E')">E</a> 
  <a class="dropdown-item" (click)="trocaCifra('F')">F</a> <a class="dropdown-item" (click)="trocaCifra('F#')">F# </a>
  <a class="dropdown-item" (click)="trocaCifra('G')">G</a> <a class="dropdown-item" (click)="trocaCifra('G#')">Ab </a>
  <a class="dropdown-item" (click)="trocaCifra('A')">A</a> <a class="dropdown-item" (click)="trocaCifra('A#')">Bb</a>
  <a class="dropdown-item" (click)="trocaCifra('B')">B</a>
  <div role="separator" class="dropdown-divider"></div>
  <a class="dropdown-item"(click)="trocaCifra(original)">Original: {{original}}</a>
</div>
</div><br>
<!-- =========== Música ====================-->

   <div class="text-left" >
    <p class="divmaster" [innerHTML]="musicaAlterada"></p>
   </div>