<div class="div1">
<h1>Sobre</h1>
<p> 
    Esse site de cifras foi criado com o propósito de reunir louvores 
à Deus, ou seja, sem mistura de canções seculares.
</p>
<p> 
    Você conseguirá alterar o tom da música para tocar e/ou cantar de acordo com a necessidade.
</p>
<p> 
   Se quiser enviar alguma mensagem com sugestão ou pedido para adicionar as músicas da sua banda 
   <a routerLink="/mensagem">clique aqui</a> .
</p>
<p> 
  Para doações  
    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=7D6H4S7EA6FEC&currency_code=BRL&source=url">
        clique aqui</a>  ou escaneie com Qr Code no final da página.
 
 </p>

</div>
<div class="divMaster text-muted">
<h4>
    Toda honra e glória seja dada ao Senhor Jesus Cristo !
</h4>
</div>