h6 {
    color: darkgoldenrod;
}
h3{
    color:#343A40;
    font-weight: bolder;
}
h5{
    color: #FBB240;
}

.p1{
    padding: 20px;
}
.content1{
    background-color: rgba(226, 185, 172, 0.2);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.divmaster{

width: 100%;
height: 100%;
}