<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item " routerActivedLink="Active">
        <a class="nav-link ml-3 mr-3 a1" routerLink="/musicas">Músicas </a>
      </li>
      <li class="nav-item" routerActivedLink="Active">
        <a class="nav-link ml-3 a1" routerLink="/sobre">Sobre</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Titulo, trecho, banda, etc ...">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>

  <!-- Footer -->


<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer mt-auto mb-4">
  <div class="bg-light text-muted text-center" >
   "Enquanto houver fôlego, louve ao Senhor"
  </div>

</footer>