 <section>
     <div >
        <h1 class="text-center">Músicas</h1>
        <h6><a routerLink="/morada" class="list-group-item list-group-item-action">Morada
            <span class="badge badge-warning badge-pill float-right">{{numeroMorada}}</span>
        </a> </h6>  
        <h6><a routerLink="/corinhos" class="list-group-item list-group-item-action">Corinhos
            <span class="badge badge-warning badge-pill float-right">{{numeroMusicas}}</span>
        </a> </h6>
        <h6><a routerLink="/diante-do-trono" class="list-group-item list-group-item-action">Diante do trono
            <span class="badge badge-warning badge-pill float-right">{{numeroMusicasDT}}</span>
        </a> </h6>  
     </div>

     
      
    
</section>