/* You can add global styles to this file, and also import other style files 


font-family: 'Josefin Sans', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Kalam', cursive;
font-family: 'Paytone One', sans-serif;


*/
body{
    padding: 10px;
    font-family: 'Kalam', cursive;
    background-color: rgb(233, 232, 164);
}
footer{    
    font-family: 'Josefin Sans', sans-serif;
   
}