<section class="divMaster ">
  <h1 class="text-muted">Tudo quanto tem fôlego louve ao Senhor. Louvai ao Senhor.</h1>
  <h2 class="text-muted">"Salmos 150:6"</h2>

  <i (click)="aumentaDiminui()" [@lupa]="lupaState" class="material-icons ">search</i>

  
    <div class="col-9 leftt">
    <input class="form-control search-bar" appAutofocus [typeahead]="titulo" id="myInput" autocomplete="off"
    [(ngModel)]="pesquisa"  [typeaheadItemTemplate]="musicas" [@toggleSearch]="searchBarState"
    [isAnimated]="true" typeaheadOptionField="titulo"
    (typeaheadNoResults)="typeaheadNoResults($event)">
    <div class="col-9 alert-danger tamanhoDiv " *ngIf="noResult">Nenhum resultado encontrado</div>

   <div class="col-9">
    <ng-template  #musicas let-musica="item" >  
      <ul class="custom-list-group">
          <li #lista class="custom-list-group-item">
            <a  id="resultado" [routerLink]="[musica.url, musica.id ]">
              {{musica.titulo }} - <strong>{{musica.banda}}</strong>
            </a>    
          </li>  
        </ul>
      </ng-template>    
    </div>
  </div>

     
    <p *ngIf="!informaation">Clique na lupa para pesquisar</p>
    <p *ngIf="informaation">Digite a cifra que deseja</p>

   
  
    
   


  </section>



