a{
    color: #343A40;
    font-size: 20px;
    font-family: 'Caveat', cursive;
   
}
h1{
    color: #9A9DA0;
    text-align: center;
    letter-spacing: 0.2em;
    
}

thead th{
    color: #FBBA3E;
}
tbody th{
    color: rgb(233, 107, 29);
}
table{
    margin-top: -35px;
    box-shadow: 1px 1px 50px 30px rgba(211, 111, 49, 0.3);
    
}
